#navbg {
    /* background-color: #002554; */
    background-image: linear-gradient(to right, #0F0C29 , #28416F);
}

#navitemfont {
    font-size: 15px;
}

#goal {
    position: relative;
    /* background-color: skyblue; */
    left: 100px;
    top: 50px;
}

/* #pie {
    position: relative;
    left: 150px;
    top: 75px;
 
}  */
/*  */
/* #donut{
    position: relative;
    left: 170px;

} */ 

/* #bar {
    position: relative;
    left:-20px;
    top:0px;
} */

#imgfloat {
    float:right;
}



.nav-pills .nav-link {
    background-color:#A4C8E1;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
   
}

.nav-item {
    margin: 1.5px;

}

img {
    border-radius: 20px;
}
